html
  head
    title= title
  body
    h2= title
      
    //- a(href="http://localhost:3001/message") message
    a(href="http://localhost:3001/profile") profile             
    include head.pug
    ul
      each val,index in message
        li= index + ':  ' + val

